
Shattered Protocols/.vs/
/Shattered Protocols/Shattered Protocols/obj
/Shattered Protocols/Shattered Protocols/obj/Debug/net8.0
Shattered Protocols/Shattered Protocols/obj/Debug/net8.0/Shattered Protocols.AssemblyInfo.cs
/Shattered Protocols/Shattered Protocols/obj/Debug
Shattered Protocols/Shattered Protocols/obj/Shattered Protocols.csproj.nuget.g.props
Shattered Protocols/Shattered Protocols/obj/Shattered Protocols.csproj.nuget.dgspec.json
Shattered Protocols/Shattered Protocols/obj/project.nuget.cache
Shattered Protocols/Shattered Protocols/obj/project.assets.json
Shattered Protocols/Shattered Protocols/obj/Debug/net8.0/Shattered Protocols.GeneratedMSBuildEditorConfig.editorconfig
Shattered Protocols/Shattered Protocols/obj/Debug/net8.0/Shattered Protocols.assets.cache
Shattered Protocols/Shattered Protocols/obj/Debug/net8.0/Shattered Protocols.AssemblyInfoInputs.cache
Shattered Protocols/Shattered Protocols/obj/Debug/net8.0/Shattered Protocols.AssemblyInfo.cs
